<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>beruang Guru - Belajar Lebih Mudah</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="banner">
    <h3>Penawaran Khusus! Dapatkan akses premium sekarang!</h3>
</div>


<div class="header">
    <h1>Belajar Online & Offline Terbesar,Terlengkap dan </h1>
  <h1>terbukti di Indonesia </h1>
    <div class="header-boxes">
        <div class="header-box">persiapan UTBK-SNBT</div>
        <div class="header-box">Bimble online interaktif</div>
        <div class="header-box">Bimble tatap muka</div>
      <div class="header-box">video belajar dan soal</div>
      <div class="header-box">English Academy</div>
    </div>
</div>

<div class="container">
    <div class="flex-container">
      <div class="box">puluhan ribuan belajar</div>
      <div class="box">kelas tatap muka</div>
      <div class="box">Live teaching</div>
      <div class="box">Live teaching</div>
    </div>
    <div class="flex-container">
      <div class="box">Kursus bahasa inggris</div>
      <div class="box">Video belajar </div>
      <div class="box">Menulis Biografi Tokoh Pendidikan</div>
      <div class="box"> bahasa ndonesia</div>
    </div>
     
       
    </div>
</div>
</body>
</html>
