<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" type="text/css" href="/css/output.css" />
	</head>
	<body class="bg-[#F4F8F6]">
		<header class="pb-[100px]"><%- include('./partials/_navbar') %></header>
		<main class=""><%- include(body) %></main>
	</body>
</html>
